* {
    background-color: beige;
}

.mainbox {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.images {
    width: 100px;
    padding-left: 50px;
    padding-right: 50px;
}